html {
    font-family: sans-serif;
}
body {
    margin: 0;
    display: block;
}

h1 {
    color: aquamarine;
}
h2 {
	
}
.head{
	background-color: white;
	background-position: center;
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0;
	z-index: 5;
}
.Universe{
	height: 4000px;
    position: relative;
    background: black;
    background-size: 4000px;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.moon{
	width: 800px;
	height: 500px;
    position: absolute;
	top: 55%;
	left: 10%;
	z-index: 3;
}
.imgmoon{
	width: 480px;
	height: 300px;
	position: absolute;
	z-index:3;
}
.redmoon{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 90%;
	left: 30%;
}
.imgredmoon{
	width: 300px;
	height: 300px;
	position: absolute;
	z-index:3;
}

.asteroid1{
	width: 470px;
	height: 280px;
    position: absolute;
	top: 0%;
	left: 1%;
	z-index: 2;
}
.imgasteroid1{
	width: 300px;
	height: 170px;
	position: absolute;
	z-index:2;
}
.asteroid1-1{
	width: 470px;
	height: 280px;
    position: absolute;
	top: 20%;
	left: 60%;
	z-index: 2;
}
.imgasteroid1-1{
	width: 470px;
	height: 280px;
	position: absolute;
	z-index:2;
}
.asteroid2{
	width: 400px;
	height: 280px;
    position: absolute;
	top: 5%;
	left: 60%;
	z-index: 2;
}
.imgasteroid2{
	width: 400px;
	height: 280px;
	position: absolute;
	z-index:3;
}
.asteroid2-1{
	width: 400px;
	height: 280px;
    position: absolute;
	top: 65%;
	left: 50%;
	z-index: 2;
}
.imgasteroid2-1{
	width: 400px;
	height: 280px;
	position: absolute;
	z-index:3;
}
.asteroid3{
	width: 200px;
	height: 160px;
    position: absolute;
	top: 90%;
	left: 80%;
	z-index: 1;
}
.imgasteroid3{
	width: 200px;
	height: 160px;
	position: absolute;
}
.asteroid3-1{
	width: 200px;
	height: 160px;
    position: absolute;
	top: 15%;
	left: 5%;
	z-index: 1;
}
.imgasteroid3-1{
	width: 200px;
	height: 160px;
	position: absolute;
}
.asteroid4{
	width: 180px;
	height: 160px;
    position: absolute;
	top: 30%;
	left: 25%;
	z-index: 1;
}
.imgasteroid4{
	width: 100px;
	height: 80px;
	position: absolute;
	z-index:3;
}
.asteroid4-1{
	width: 180px;
	height: 160px;
    position: absolute;
	top: 5%;
	left: 45%;
	z-index: 1;
}
.imgasteroid4-1{
	width: 100px;
	height: 80px;
	position: absolute;
	z-index:3;
}
.asteroid5{
	width: 370px;
	height: 290px;
    position: absolute;
	top: 90%;
	z-index: 1;
}
.imgasteroid5{
	width: 160px;
	height: 120px;
	position: absolute;
}
.asteroid5-1{
	width: 370px;
	height: 290px;
    position: absolute;
	top: 115%;
	left: 25%;
	z-index: 1;
}
.imgasteroid5-1{
	width: 120px;
	height: 90px;
	position: absolute;
}
.asteroid6{
	width: 400px;
	height: 320px;
    position: absolute;
	top: 88%;
	left: 60%;
	z-index: 3;
}
.imgasteroid6{
	width: 200px;
	height: 120px;
	position: absolute;
	z-index:3;
}
.asteroid6-1{
	width: 400px;
	height: 320px;
    position: absolute;
	top: 90%;
	left: 60%;
	z-index: 3;
}
.imgasteroid6-1{
	width: 200px;
	height: 120px;
	position: absolute;
	z-index:3;
}
.section1{
	height: 200px;
	position: relative;
	background-image: white;
	background-position: center;
	text-align: center;
}
.Earth{
	height: 1000px;
	width: 100%;
    position: relative;
    background-image: url(img/sunrise1.jpg);
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
    }
.sky{
	position: relative;
    height: 4000px;
    background: linear-gradient(#1b63ab,#7fa5d2,#b7c6cd,#5f8cc3);
    background-position: center;
}
.gull{
	width: 300px;
	height: 240px;
    position: absolute;
	top: 30%;
	z-index: 2;
}
.sea{
    position: relative;
    height: 6000px;
    background: linear-gradient(#c2f9fe,#0152e2);
    background-position: center;
}
.sea2 {
    height: 1673px;
    position: relative;
    background-image: url(img/jellyfish.jpg);
    background-size: auto 1673px;
    background-position: center;
    overflow: hidden;
}
section {

}
