html {
    font-family: sans-serif;
}
body {
    margin: 0;
    display: block;
}

h1 {
    color: aquamarine;
}
h2 {
	
}
.head{
	background-color: white;
	background-position: center;
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0;
	z-index: 5;
}
.Universe{
	height: 4000px;
    position: relative;
    background-image: url(img/star0.jpg);
    background-size: auto 4000px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.moon{
	width: 800px;
	height: 500px;
    position: absolute;
	top: 40%;
	left: 20%;
	z-index: 2;
}
.redmoon{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 3000px;
	left: 450px;
}

.asteroid1{
	width: 470px;
	height: 280px;
    position: absolute;
	top: 25%;
	left: 1%;
	z-index: 3;
}
.asteroid2{
	width: 400px;
	height: 280px;
    position: absolute;
	top: 5%;
	left: 60%;
	z-index: 2;
}
.asteroid3{
	width: 200px;
	height: 160px;
    position: absolute;
	top: 40%;
	left: 80%;
	z-index: 1;
}

.asteroid4{
	width: 150px;
	height: 140px;
    position: absolute;
	top: 10%;
	left: 25%;
	z-index: 1;
}
.asteroid5{
	width: 370px;
	height: 290px;
    position: absolute;
	top: 3000px;
	z-index: 1;
}
.asteroid6{
	width: 400px;
	height: 320px;
    position: absolute;
	top: 2000px;
	z-index: 1;
}
.section1{
	height: 200px;
	position: relative;
	background-image: white;
	background-position: center;
	text-align: center;
}
.Earth{
	height: 1000px;
    position: relative;
    background-image: url(img/sunrise1.jpg);
    background-size: auto 1000px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.sky{
	position: relative;
    height: 4000px;
    background: linear-gradient(#1b63ab,#7fa5d2,#b7c6cd,#5f8cc3);
    background-position: center;
}
.sea{
    position: relative;
    height: 6000px;
    background: linear-gradient(#c2f9fe,#0152e2);
    background-position: center;
}
.sea2 {
    height: 1673px;
    position: relative;
    background-image: url(img/jellyfish.jpg);
    background-size: auto 1673px;
    background-position: center;
    overflow: hidden;
}
section {

}
