html {
    font-family: sans-serif;
}
body {
    margin: 0;
    display: block;
}
h1 {
    color: aquamarine;
}
h2 {
	
}
.section1{
	height: 200px;
	position: relative;
	background-image: white;
	background-position: center;
	text-align: center;
}
.Earth{
	height: 1000px;
    position: relative;
    background-image: url(img/sunrise1.jpg);
    background-size: auto 1000px;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.sky{
	position: relative;
    height: 4000px;
    background: linear-gradient(#1b63ab,#7fa5d2,#b7c6cd,#5f8cc3);
    background-position: top center;
}
.sea{
    position: relative;
    height: 6000px;
    background: linear-gradient(#c2f9fe,#0152e2);
    background-position: top center;
}
.sea2 {
    height: 1673px;
    position: relative;
    background-image: url(img/jellyfish.jpg);
    background-size: auto 1673px;
    background-position: top center;
    overflow: hidden;
}
section {

}